/* Mobile-first styles */
body {
    font-size: 16px;
    background-color: #f0f0f0;
    background-image: url('../assets/background.svg');
    color: #333;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column; 
    justify-content: space-around;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}

#welcome{
    margin-top:35%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#welcome h1{
    font-size:60px;
    color:#F15A24;
    letter-spacing:3px;
    text-shadow: 5px 5px rgba(255, 255, 255, 1);
}

#welcome .set-team{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sub-title{
    font-size:25px;
    padding:2% 5% 2% 5%;
    background-color: #C7B299;
    color:rgb(255, 255, 255);
    border-radius:25px;
}

.sub-title p{
    text-shadow: 2px 2px rgb(66, 66, 66);
}

#inicio{
    position:absolute;
    top:50%;
}

#inicio #fosforo{
    max-height: 600px;
}

#boton-inicio{
    background-color: #F15A24;
    font-size:40px;
    padding: 2% 5% 2% 5%;
    color:white;
    position:absolute;
    z-index: 9999;
    bottom:5%;
    height:fit-content;
    border-radius:15px;
    -webkit-animation: breathing 2s ease-out infinite normal;
    animation: breathing 2s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

#boton-inicio p{
    margin:0%;
    text-shadow:#C7B299 2px 2px;
}

#header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display:fle x;
    flex-direction: column;
}
#header .title{
    flex:1;
    background-color: red;
    color:white;
}


#header .scoreboard{
    flex:1;
    background-color: green;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#main {
    padding: 20px;
    display:flex;
    flex-direction: column;
}

#main .gameboard{
    flex:1;
    background-color: blue;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Animacion de respiracion */

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }


/* Styles for screens larger than 600px */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* Styles for screens larger than 900px */
@media (min-width: 900px) {
    body {
        font-size: 20px;
    }
}

/* Add more media queries as needed for different screen sizes */
