/* Mobile-first styles */

html{
  box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #f0f0f0;
    background-image: url('../assets/background.svg');
    color: #333;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column; 
    justify-content: space-around;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

#welcome{
    margin-top:25%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#welcome h1{
    font-size:60px;
    color:#F15A24;
    letter-spacing:3px;
    text-shadow: 5px 5px rgba(255, 255, 255, 1);
}

.sub-title{
  font-size:25px;
  padding:2% 5% 2% 5%;
  background-color: #C7B299;
  color:rgb(255, 255, 255);
  border-radius:25px;
}

.sub-title p{
  text-shadow: 2px 2px rgb(66, 66, 66);
}

#inicio{
  position:absolute;
  top:50%;
}

#inicio #fosforo{
  max-height: 600px;
}

#boton-inicio{
  background-color: #F15A24;
  font-size:40px;
  padding: 2% 5% 2% 5%;
  color:white;
  position:absolute;
  z-index: 9999;
  bottom:5%;
  height:fit-content;
  border-radius:15px;
  -webkit-animation: breathing 2s ease-out infinite normal;
  animation: breathing 2s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

#boton-inicio p{
  margin:0%;
  text-shadow:#C7B299 2px 2px;
}

#welcome .set-team{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #C7B299;
    padding:0% 20% 0% 20%;
    gap: 10px;
    border-radius:20px;
    box-shadow: #7a6953 3px 3px;
    font-size:40px;
    text-shadow:#f0f0f0 1.5px 1.5px;
    text-align:center;
}

#welcome .set-team p{
  margin-bottom:5%;
}

#welcome .set-team #formEquipos{
  display:flex;
  gap:10px;
  flex-direction: column;
}

#welcome .set-team .team-input{
  border-radius:10px;
  padding: 5% 10% 5% 10%;
  width:200px;
  height:60px;
  box-sizing: border-box;
  text-align: center;
  background-color: #DB8653;
  font-size:25px;
  letter-spacing: 1.5px;
  font-family: "Caprasimo", serif;
  text-transform: uppercase;
  border: transparent;
  box-shadow:2px 2px #85591f;
}

#welcome .set-team .accept{
  padding: 5%;
}

#welcome .set-team .accept #greenCheck{
  border-radius: 50%;
  box-shadow:#85591f 1px 1px;
}

::placeholder{
  color:#e6e1db;
}



#welcome .set-points{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #C7B299;
  padding:5% 20% 5% 20%;
  gap: 10px;
  border-radius:20px;
  box-shadow: #7a6953 3px 3px;
  font-size:40px;
  text-shadow:#f0f0f0 1.5px 1.5px;
  text-align:center;
  margin-top:20%;
  justify-content: center;
  height:150px;
  width:auto;
}

#welcome .set-points p{
  margin-top:10%;
  margin-bottom:5%;
}

#welcome .set-points .point-placeholder{
  display:flex;
  gap:20px;
  justify-content: center;
}

#welcome .set-points .point-placeholder .points{
  border-radius:10px;
  padding:5% 20% 5% 20%;
  box-sizing: border-box;
  text-align: center;
  background-color: #DB8653;
  font-size:35px;
  letter-spacing: 1.5px;
  font-family: "Caprasimo", serif;
  text-transform: uppercase;
  border: transparent;
  box-shadow:2px 2px #85591f;
  color:#e6e1db;
  text-shadow:#7a6953 2px 2px;
}


/* Animacion de respiracion */

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }


/* Styles for screens larger than 600px */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* Styles for screens larger than 900px */
@media (min-width: 900px) {
    body {
        font-size: 20px;
    }
}

/* Add more media queries as needed for different screen sizes */
